<h1 class="bookmark-permalink-title">
  <a href="{{bookmark.url}}">
   {{setTitle bookmark}}<span class="external-link">↗</span>
   </a>
</h1>

{{> show_bookmark bookmark=bookmark permalink=true}}

{{#if comments}}
  <h2>
    {{bookmark.comment_count}}
    {{pluralize bookmark.comment_count "comment" "comments"}}
  </h2>

  <div class="comments-list">
    {{#each comments }}
        {{#unless inReplyTo}}
          {{> show_comment comment=this }}
        {{/unless}}
        {{#if inReplyTo}}
          {{> show_comment comment=this reply=true}}
        {{/if}}
    {{/each}}
  </div>
{{/if}}
